@import '../../global.scss';

.menu {
  width: 300px;
  height: 100vh;
  background-color: $thirdColor;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 4;
  transition: all 0.8s ease;

  &.active {
    right: 0;
  }

  .menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 30px;
      color: $colorFontMenu;

      li {
        margin-bottom: 35px;
        width: fit-content;

        a {
          color: inherit;
          text-decoration: none;
          font-weight: lighter;
          position: relative;

          .before {
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $colorFontMenu;
            transform: translateX(-100%);
            transition: all 0.3s ease;
          }

          .hover {
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $colorFontMenu;
            transform: translateX(0);
            transition: all 0.3s ease;
          }

          .after {
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $colorFontMenu;
            transform: translateX(100%);
            transition: all 0.3s ease;
          }
        }
        &:hover {
          font-weight: bolder;
        }
      }
    }

    .info-contact {
      position: absolute;
      color: $colorFontMenu;
      width: 100%;
      bottom: 2%;
      display: flex;
      flex-direction: column;
      
      .itemContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        .icon {
          margin-right: 5px;
        }
      }
      
    }
  }
}
