@import '../../global.scss';
/* Fleches */
.commandes {
  
  .previous,
  .next {
    position: absolute;
    width: clamp(30px, 3vw, 80px);
    height: clamp(30px, 3vw, 80px);
    border-radius: 50%;
    background-color: black;
    top: 50%;
    transform: translateY(-50%) scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    border: none;
    transition: 0.5s all;
  }

  .previous,
  .next svg {
    color: white;
  }

  .previous:hover,
  .next:hover {
    background-color: $secondaryColor;
  }

  .previous:hover,
  .next:hover svg {
    color: black;
  }

  .previous {
    left: 2%;
  }

  .next {
    right: 2%;
  }

  .reset-btn {
    transform: translateY(-50%) scale(0);
  }
}
