@import "./../../global.scss";
.categories {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 20px;

  li {
    background-color: $secondaryColor;
    margin: 8px 20px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: clamp(14px, 1.1vw, 40px);
    font-style: italic;
    font-weight: bold;
    color: black;

    &:hover {
      background-color: white;
      color: $colorFontMenu;
    }
  }
  .active-categ {
    background-color: white;
    color: black;
  }
}