.portefolio {
  position: relative;

  .first-block {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .categories {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      background-color: rgb(83, 83, 165);
      margin: 8px 20px;
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
      font-size: clamp(14px, 1.2vw, 40px);
      font-style: italic;
      font-weight: bold;
      color: white;

      &:hover {
        background-color: white;
        color: rgb(83, 83, 165);
      }
    }
  }

  /* carousel */

  

  /* Items */

  /* .slider {
    width: 600px;
    height: 300px;
    margin: 0 auto 0;
    background-color: white;
    position: relative;
    
 
  }
  .cont-slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cont-slider img {
    width: 80%;
    height: fit-content;
    position: absolute;
  }

  .commandes {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .commandes button {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .commandes button:nth-child(1){
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    z-index: 1000;
  }

  .commandes button:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
  } */

  .container-lien {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 15px;
    left: 50%;
    border-radius: 50%;

    transform: translate(-50%);
    background-color: white;
    box-shadow: 0 0 0 0 white;
    cursor: pointer;
    animation: pulse 1.3s infinite;
    transition: all 0.2s linear;

    &:hover {
      background-color: black;
    }
    &:hover svg {
      color: white;
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        color: black;
      }
    }

    @keyframes pulse {
      to {
        box-shadow: 0 0 10px 0.8rem rgba(255, 255, 255, 0.01);
      }
    }
  }
}
