.portefolio {
  position: relative;

  .categories {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px;

    li {
      width: 50px;
      height: 25px;
      background-color: crimson;
      /* background-color: rgb(83, 83, 165); */
      text-align: center;
      margin: 20px;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: rgb(83, 83, 165);
      }
    }
  }
  .rec-carousel-wrapper {
    width: 100%;
    padding-top: 10px;
    margin: 0 auto;
    
    
  }
  .rec-slider-container{
    cursor: grab;
    transition: all 0.1s ease;

    &:active {
      cursor: grabbing;
      transform: scale(0.95);
    }
  }
  .khvUfi {
    &:hover:enabled, &:focus:enabled {
      background-color: crimson;
    }
  }

  .projet {
    margin: 10px 0 30px 0;
    width: 500px;
    height: 250px;
    background-color: black;
    overflow: hidden;
    box-shadow: 20px 12px 20px 10px rgb(83, 83, 165);
    cursor: pointer;
    position: relative;


    &:hover .caption{
      opacity: 1;
    }
    video {
      width: 100%;
    }

    .caption {
      opacity: 0;
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .front {
        position: absolute;
        background-color: crimson;

        ul {
          margin: 0;
          padding: 0;
        }
      }

      .back {

      }


    }
  }
  .container-lien {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 15px;
    left: 50%;
    border-radius: 50%;

    transform: translate(-50%);
    background-color: white;
    box-shadow: 0 0 0 0 white;
    cursor: pointer;
    animation: pulse 1.3s infinite;
    transition: all 0.2s linear;

    &:hover {
      background-color: black;
    }
    &:hover svg{
      color: white;
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        color: black;
      }
    }

    @keyframes pulse {
      to {
        box-shadow: 0 0 10px 0.8rem rgba(255, 255, 255, 0.01);
      }
    }
  }

}
